/* Header.css */
/* Example for using IBM Plex Sans and IBM Plex Serif */
body {
  font-family: "IBM Plex Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-bar input[type="text"] {
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  margin-top: 0;
}

.user-auth {
  font-size: 14px;
}
