/* Example for using IBM Plex Sans and IBM Plex Serif */
body {
  font-family: "IBM Plex Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

/* Example for applying borders, shadows, and spacing */
.news-feed {
  width: 25%;
  padding: 20px;
  background-color: #f6f6f6;
  /* Add additional styling as needed */
}
.news-description {
  color: #555555;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.news-title {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.sidebar {
  width: 240px;
  line-height: normal; /* Adjust the width as desired */
  background-color: #f6f7f8;
}

.content {
  flex: 1;
  padding: 20px;
  flex-grow: 1;
}
.container {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.reddit-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Example for setting font size and line height */
p {
  font-size: 16px;
  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.routes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
